<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Student</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <nav>
        <a href="/s/<%=rollNo%>/profile">profile</a>
        <a href="/logout">logout</a>
    </nav>
    <h2>availableProff</h2>
    <ul>
        <% for(let proff of reqDataAvailableProffs){ %>
            <li>
                <pre> <%= proff.fullName %>   <%= proff.id%>    <%= proff.left %></pre>
                <button>Add</button>
            </li>
            <% } %>
    </ul>

    <h2>appliedProff</h2>
    <h4>filled : <%= reqDataAppliedProffs.length %>
    </h4>
    <ul>
        <% for(let proff of reqDataAppliedProffs){ %>
            <li>
                <pre> <%= proff.fullName %>   <%= proff.id%>    <%= proff.left %></pre>
            </li>
            <% } %>
    </ul>
    <button type="submit">SAVE</button>



    <script>
    </script>
</body>

</html>