<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profilePage</title>
</head>

<body>
    <h1>welcome <%= fName %> <%=lName%></h1>
    <form action="/s/<%=rollNo%>/profile" method="POST">
        <label for="fName">First Name</label>
        <input type="text" name="fName" id="fName" value=<%=fName%>>
        <label for="lName">Last Name</label>
        <input type="text" name="lName" id="lName" value=<%=lName%>>
        <label for="resumeLink">Resume Link</label>
        <input type="text" name="resumeLink" id="resumeLink" value =<%=resumeLink%>>
        <label for="email">Email Id</label>
        <input type="email" name="email" id="email" value=<%=email%> readonly >
        <label for="currentCPI">Current CPI</label>
        <input type="number" name="currentCPI" id="currentCPI" min="0" max="10" step="any" value =<%=currentCPI%> required>
        <label for="contactNo">Contact Number</label>
        <input type="tel" name="contactNo" id="contactNo" value =<%=contactNo%> required>
        <label for="rollNo">Roll Number</label>
        <input type="text" name="rollNo" id="rollNo" value =<%=rollNo%> required>
        <label for="applyingFor">Applying For</label>
        <input type="text" name="applyingFor" id="applyingFor" value="EXPLO" readonly>
        <label for="selectedProff">Selected Proff</label>
        <input type="text" name="selectedProff" id="selectedProff" value=<%=selectedProff%>  readonly>


        <button type="submit">SAVE</button>
    </form>
</body>

</html>